@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css";

/* 부가적인 레이아웃 보정 스타일 */
#root {
  display: block;
  width: 100%;
  min-height: 100vh;
}
input, select {
  background-color: #ffffff !important;
}
